
*{
margin: 0;
padding: 0px;
line-height: 1.4;
font-family: 'Gotham A', 'Gotham B', "Gotham", Helvetica Neue, Helvetica, Arial, Sans Serif;	
text-transform: uppercase;
}
html{
	width:100%;
}
body{
	background-color:#f5f5f5;
}
#bigSlider{
	display: block;
	width:100%;
	height:600px;
	background-color: #f5f5f5;
}
#bigSlider img{
	display: block;
	width:100%;
	height:600px;
}
#pointer{
	position:relative;
	top:-15px;
	width: 100%;

}
#pointer,  .right-triangle , .left-triangle , .triangle{
		height:20px;
		background: url("../img/movie-pointer.png") center no-repeat;
}
.right-triangle , .left-triangle{
	width: 50%;
	background-color:#f5f5f5;
}

#pointer .right-triangle {
    float: right;
	margin-right: -19px;
}
#pointer .left-triangle {
    float: left;
	margin-left: -19px;
}
.carousel{
		background-color:#f5f5f5 !important;
}
.carousel .carousel-item {
  opacity: 1 !important;
  top: -70px !important;
  width: 300px !important;
}
#direction-left, #direction-right{
	position:absolute;
	display:block;
	width:100px;
	height:500px;
	z-index: 999;
}
#direction-left img, #direction-right img{
	display:block;
	width:30px;
	height:40px;
	position:absolute;
	top: 200px;
	left:30px;
}
#direction-left{
	left:0;
}
#direction-right{
	right:0;
}
.film-info{
	width:627px;
	height:190px;
	position:absolute;
	left:120px;
	top:270px;
	color:#fff;
}
.film-info h1{
	font-weight:900;
	font-size:56px;	
}
.film-info h1 span{
	display:block;
	width:125px;
	height:6px;
	background-color:#B08A43;
	margin-top: 30px;
}
.film-info h2{
	font-size:20px;
	font-weight: 800;
}
.buttons{
	width:270px;
	height:200px;
	position:absolute;
	right: 200px;
	top:350px;
}
.buttons .button{
	display:block;
	width:100%;
	height:48px;
	margin:10px;
	margin:10px 0px 0px 0px;
}
.buttons .button .left-info{
	display:inline-block;
	width:210px;
	height:48px;
	background-color:#B08A43;
	text-align:center;
	vertical-align:top;
	line-height:48px;
	color:#fff;
	font-weight:800;
	font-size: 14px;
	transition: background 1000ms;
}
.not-active{
	display:none;
}
.buttons .button .left-info:hover{
	background-color:#CA9E4D; 
}
.buttons .button .arrow-info{
	display:inline-block;
	float:right;
	width:55px;
	height:48px;
	background-color:#B08A43;
}
.buttons .button .arrow-info span{
	display:block;
	width:100%;
	height:48px;
	background-image:url("../img/arrow_right.png");
	background-position:center;
	background-repeat: no-repeat;
}
.flex-item {
  background: #fff;
  width: 351.8px;
  max-height: 330px;
  margin: 10px ;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
  border: 0.5px solid rgb(200,200,200);
  box-shadow: 0px 1px 1px #888888;
  transition: margin-top 100ms ease;
}

.flex-item  img{
  width: 100%;
  max-height: 220px;
}

.details{
	display:block;
	padding: 15px 20px 30px 20px;
	max-height: ;
	font-family: 'Gotham A', 'Gotham B', "Gotham", Helvetica Neue, Helvetica, Arial, Sans Serif;
	text-align: left;
}
.details span{
	font-weight: 100;
	display: block;
	font-size:14px;
	color:#818181;
}
.details h3{
	font-size:20px;
	color:#1d1d1e;
}

.flex-item:hover{
	margin-top:-0.5px;
}
